/* layout */

ol, ul {
	list-style: disc;
	margin: inherit;
}

#content {
	margin-left: 20px;
	margin-top: 20px;
	left:	20px;
	top:	20px;
	width: 580px;
}

#content h3 {
	padding-top: 5px;
	padding-bottom: 5px;
}

#content #noindent p {
	text-indent: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#content p {
	margin-top: 10px;
	margin-bottom: 10px;
}

#inset p {
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: 40px;
}

#code pre {
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: 40px;
}

#table {
       margin-left:50px;
	margin-top: 5px;
	margin-bottom: 10px;
}

#table td {
	padding: 5px;
}

#table th {
	padding: 5px;
}


/* typography */

#content {
	font-family: Verdana;
	font-size: 14px;
	line-height: 18px;
	color: black;
	text-align: left;
}

#content #table {
	font-family: Verdana;
	font-size: 12px;
	line-height: 14px;
	color: black;
	text-align: left;
}

#content h3 {
	font-family: Georgia, Garamond, "Times New Roman", serif;
	font-size: 16px;
	text-align: left;
}

.proto {
	color: navy;
}

.function:after {
	font-style: italic;
}

.function {
}

.returns {
	text-indent: 50px;
}
.returns:before {
	content: "returns: ";
}


.param {
	text-indent: 50px;
}

.id {
	font-family: monospace;
	font-weight: bold;
}

.lit {
	font-family: monospace;
}

.type {
	font-style: italic;
}

.arg {
	font-family: monospace;
	font-style: italic;
}

#code pre {
      font-family: "Droid Sans Mono", "Andale Mono", monospace;
      font-size: 12px;
      line-height: 15px;
      color: black;
}

tt {
	font-family: monospace;
}

#symbols {
	font-family: monospace;
}

/* links */

a:link, a:visited, a:hover, a:active {
	text-decoration: none;
}

a:link, a:visited, #header p.ads a:link, #header p.ads a:visited {
	color: #c4112f;
}

a:hover, a:active, #header p.ads a:hover, #header p.ads a:active {
	color: black;
	border-bottom: 1px solid black;
}
