/* layout */

#side1 {
	position: fixed;
	margin-top: 1em;
	margin-left: 2em;
}

#content {
	margin-left: 20em;
	margin-top: 20px;
	left:	20px;
	top:	20px;
	width: 45em;
}

dl, ol, ul {
//	margin-right: 20px;
	margin-left: 20px;
	margin-bottom: 10px;
	list-style: square outside;
}

#content h4 {
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}

#content h3 {
	padding-top: 5px;
	padding-bottom: 5px;
}

#content #noindent p {
	text-indent: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#content p {
	margin-top: 10px;
	margin-bottom: 10px;
}

#inset p {
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: 40px;
}

.code {
      font-family: monospace;
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: 40px;
}

#table {
       margin-left:50px;
	margin-top: 5px;
	margin-bottom: 10px;
}

#table td {
	padding: 5px;
}

#table th {
	padding: 5px;
}


/* typography */

#side1 {
	font-family: "Lucida Sans", sans-serif;
	font-size: 10px;
	line-height: 12px;
}

#content {
	font-family: "Lucida Sans", sans-serif;
//	font-family: "Helvetica";
	font-size: 12px;
	line-height: 15px;
	color: black;
	text-align: left;
}

#content #table {
	font-family: "Lucida Sans", "Luxi Sans", sans-serif;
	font-size: 12px;
	line-height: 14px;
	color: black;
	text-align: left;
}

#content h3 {
	font-family:  "Lucida Sans", "Luxi Sans", sans-serif;
	font-size: 13px;
	text-align: left;
}

.proto {
	color: navy;
}

.docitem {
	margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 20px;
}

.desc {
	margin-right: 20px;
	margin-top: 10px;
}

.function:after {
	font-style: italic;
}

.function {
}

.syntax {
}

.returns {
	text-indent: 50px;
}
.returns:before {
	content: "returns: ";
}


.param {
	text-indent: 50px;
}

.protoid {
}

.id {
	font-family: monospace;
	font-weight: bold;
}

.index {
	margin-left: 20px;
	font-size: 9px;
        line-height: 11px;
}

.index table,td,th {
       padding: 10px;

}

.fnindex {
	color: navy;
	font-family: monospace;
	font-weight: bold;

}

.fnindex a:link, a:visited, a:hover, a:active {
	color: navy;
}

.val {
	font-family: monospace;
}

.type {
	font-style: italic;
}

.arg {
	font-family: monospace;
	font-style: italic;
}

.code pre {
      font-family: "Andale Mono", monospace;
      font-size: 12px;
      line-height: 15px;
      color: black;
}

tt {
	font-family: monospace;
}

#symbols {
	font-family: monospace;
}

a:link, a:visited, a:hover, a:active {
	text-decoration: none;
}

